body {
    padding: 0;
    margin: 0;
    background: #fafafa;
}
#playkey {
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 0px;
    display: inline;
}

#playtext {
    text-align: center;
    display: inline-block;
    font-size: 2em;
    font-family: mrs-eaves-roman-small-caps, sans-serif;
}

#arrow {
    display: inline-block;
    text-align: center;

}
