body {
    padding: 0;
    margin: 0;
}
#playkey {
    cursor: pointer;
    position: relative;
    top: 750px;
    left: 48%;
    display: inline;

}

#playtext {
    text-align: center;
    display: inline-block;
    font-size: 2em;
    font-family: mrs-eaves-roman-small-caps, sans-serif;
}

#arrow {
    display: inline-block;
    text-align: center;

}
